.ct-collapse {
    scrollbar-color: var(--elevens-ct-text-color) transparent;
    scrollbar-width: thin;
}

.ct-button {
    background: var(--elevens-ct-primary-button-bg-color);
    color: var(--elevens-ct-primary-button-color);
    padding: 0.75rem 1rem;
    margin-left: 0;
    &:hover {
        background: var(--elevens-ct-primary-button-bg--hover-color);
        color: var(--elevens-ct-primary-button-hover-color);
    }
}
.ct-acceptance {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.ct-button-secondary {
    background: white;
    color: var(--elevens-ct-primary-button-bg-color);
    margin-left: 10px;
    &:hover {
        background: var(--elevens-ct-primary-button-bg-color);
        color: var(--elevens-ct-primary-button-color);
    }
}
